
body{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: rgb(16, 19, 21);
}

section{
    background-color: rgb(21, 179, 236);
    border: solid 5px rgb(237, 231, 231);
    padding: 20px;
}
.hide {
    display: none;
}

.show {
    display: block;
}
h1{
    text-align: center;
    font-weight: bold;
}

p{
    padding: 0 10%;
}

#startButton{
    display: block;
    margin: 0 auto;
}

.choice{
    display: block;
    margin-top: 10px;
}

.choice {
    border-radius: 10px;
    font-weight:  bold;
}

#startButton, #submit-button {
    border-radius: 10px;
    font-weight: bold;
}

#initials {
    border-radius: 10px;
}

#timer {
    color: white; 
}